@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

html {
-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
text-size-adjust: 100%;
  font-size: 100%;
}

html{
  padding:0;
  font-family: 'Oswald', sans-serif;
}

body{
  padding: 0;
}

header{
  background-image: url("../images/pineapples.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  padding-bottom: 30em;
  text-align:center;
}

.error{
  width: 100%;
  font-family: 'Oswald', sans-serif;
  background-image: url("../images/404-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  padding-bottom: 30em;
  text-align:center;
}

h1{
  font-family: 'Oswald', sans-serif;
  color: white;
  margin: 0;
  padding-top: 2em;
}

h2{
  font-family: 'Oswald', sans-serif;
  padding-top: 1em;
  text-align: center;
}

h3{
  text-align: left;
}

.me{
  width: 25%;
  float: left;
  padding: 0.25em;
  padding-bottom: 1em;
}

.clear{
  clear: both;
  float: left;
}

.float{
  float: left;
  width: 50%;
}

.skills{
  background-color: #F7E0DF;
}

h2 {
  color: white;
  font-size: 20px;
}

p {
  font-size: 20px;
}

.container {
  overflow: hidden;
  position: relative;
}

.title-container {
  position: absolute;
  z-index: 1;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  transform: translateY(100%);
  transition: all 1s ease;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.view {
  font-size: 16px;
}

.view:hover {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 35px;
}

.container:hover .title-container {
  transform: translateY(0);
}

.container .img img {
  max-width: 100%;
}

.previewimg {
    -webkit-filter: brightness(100%);
}

.content:hover .previewimg {
    -webkit-filter: brightness(30%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.display {
  -webkit-filter: brightness(100%);
}

.topcontent {
  margin-top: 150px;
}

.content {
  padding: 0.15em;
}

.bottomcontent {
  margin-bottom: 100px;
}

div.container {
  display:inline-block;
}

.logo{
  width: 20%;
  display: block;
  position: static;
  top: 10%;
  margin-left: 2em;
}

.yoo{
  padding-top: 3em;
}

.yo{
  padding-top: 1em;
  text-align: center;
}

.btn{
  background-color: black;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.square{
  padding: 2em;
  text-align: center;
}


.chat:hover{
  color: white;
}

.photo{
text-align: center;
}

nav{
  width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav li a {
    color: grey;
    text-align: center;
    text-decoration: none;
    width: 33.3%;
    float: left;
}


.white{
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
}

a{
  color: grey;
  text-decoration: none;
}

.top{
  text-align: center;
}

a:hover{
  color: #E1C4BB;
}

.about{
  padding-left: 2em;
  background-repeat: no-repeat;
}

.left{
  float:left;
  width: 100%;
  padding: .5em;
}

.leftt{
  text-align: left;
}

.social{
  color: white;
  padding: .9em;
  text-decoration: none;
}

.wrap {
		position:relative;
    padding-right: 5em;
    padding-top: 6em;
	}

footer {
		width:100%;
    position:fixed;
		bottom:0;
		z-index:999999;
    margin: 0;
    background-color: white;
	}


.instagram {
  width: 18px;
  margin-right: 10px;
}

.behance {
  width: 25px;
  margin-right: 10px;
}

.linkedin {
  width: 20px;
  margin-right: 10px;
}

.twitter {
  width: 20px;
  margin-right: 10px;
}


.white{
  color: white;
}

.padding{
  padding-left: 2.1em;
}

.reverse{
  color: white;
  text-align: center;
}

.font{
  font-family: 'Quicksand', sans-serif;
}
.image{
  width: 100%;
  text-align: center;
}

.unit img {
  max-width: 100%;
}

.pink{
  color: white;
  text-align: center;
}

.stuff{
  padding: 1em;
}

.bg{
  background-color: #F7E0DF;
}


@media only screen and (min-width: 25em) {
  header{
     width: 100%;
  }

}

@media only screen and (min-width: 38em) {
  h1{
    margin-right: 1em;
  }
  .reverse{
    margin-right: 2em;
  }
  header{


  }

}

@media only screen and (min-width: 60em) {
  h1{
    margin-right: 0em;
  }
}
